@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        
*{
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color:#f37674;
    --second-color: #ffb1a5;
    --light-color: rgba(241,241,241,255);
    --text-color: #fff5f3;
    --background-color: rgba(255,255,255,255);
}


body{
    background-color: whitesmoke;
}

body::-webkit-scrollbar {
    display: none;
}
