.Atas {
    text-align: center;
    position: absolute;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    height: 25%;
    display: center;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 100px;
}

.ib{
    color: black;
}

.rt{
    display: flex;
}

.Reading{
    color: orangered;
    font-family: Helvetica;
    font-size: medium;
}

.Time{
    color: black;
    font-family: Helvetica;
    font-size: medium;
}

.SignInAi {
    width: 25px;
    height: 25px;
}

.SignIn {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.SignIn:hover {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
}

.SignInButton {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    flex-direction: row;
}

.search-home {
    border-radius: 10px;
    width: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.Buku-home {
    display: flex;
    flex-direction: row;
}

.Buku {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 550px;

}

.Buku div {
    margin: 10px;
}

.category {
    text-indent: 20px;
}

.menu-grid {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    border-radius: 2px;
}

.menu-grid:hover {
    background-color: rgba(255, 255, 255, 0.25);
}
.category-book {
    display: flex;
    flex-direction: row;
}

.background-page {
    display: block;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-page-div {
    display: contents;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
}

.search-bar-home {
    display: flex;
    flex-direction: row;
    height: 60px;
}

.search-bar-home-page {
    background-color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
}

.button-div {
    background-color: var(--main-color);
    width: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.button-div button {
    background-color: transparent;
    border: none;
}

.kotak-kosong {
    height: 350px;
}