.view-bawah {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.page-view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    overflow: auto;
}
.view-atas {
    display: flex;
    align-items: center;
    height: 60px;
}
.view-atas p {
    text-indent: 40px;
    position: fixed;
}

.page-view::-webkit-scrollbar {
    display: none;
}