.category-book-section{
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.category-book-section:hover {
    margin-top: 3px;
    margin-bottom: 3px;
}