.Buku-cover{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 20px;
    
}

.buku{
    margin: 10px;
    width: 200px;
    height: 300px;
    margin-bottom: 150px;
    position: relative;
    
}

.cover-book-home {
    box-shadow: 5px 5px 4px rgba(177, 153, 153, 0.706);
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cover-image {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
}

.option {
    cursor: pointer;
    background-color: var(--main-color);
    width: 200px;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position:absolute;
    display: flex;
    justify-content: center;
    transition: all .2s ease-in-out;
}
.option:hover {
    background-color: red;
}

